@font-face {
    font-family: lora;
    src: url('./fonts/Lora.ttf');
}

body {
    margin: 0;
    background-color: #f9fafb;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset {
    display: flex;
    border: none;
    gap: 4rem;
    margin: 0;
    padding: 0;
}

label {
    font-weight: 600;
    color: rgb(46, 46, 46);
    letter-spacing: 2px;
}

input {
    padding: 3px 6px;
    border: 1px solid gray;
    border-radius: 3px;
    width: 14rem;
    height: 1.4rem;
    font-size: 1rem;
}

input::placeholder {
    color: #aaa;
    font-style: italic;
}

input:invalid {
    border: none;
    outline: red solid 1px;
}

input:focus-visible {
    border: none;
    outline: blue solid 1px;
    box-shadow: 2px 4px 10px rgb(184, 184, 184);
}

button {
    background-color: #596d48;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: .85rem 3rem;
    transition: background-color .15s;
}

button:hover {
    background-color: #709153;
}

a {
    text-decoration: none;
    color: #596d48;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.space-formatting {
    padding: 3rem;
}

.main-container {
    display: flex;
    height: 100vh;
}

.card-container {
    position: relative;
}

.bg-image {
    width: 525px;
    height: max(800px, 100%);
}

.card-body {
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: .8;
    color: white;
    top: 10rem;
    text-align: center;
    padding: 10px 0;
}

.logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lora;
}

.logo {
    width: 20%;
    height: 100%;
}

.form-main {
    background-color: white;
    box-shadow: 0 5px 10px gray;
    margin: 0;
}

.fieldsets {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.error-message {
    margin: 0;
    font-size: 12px;
    color: rgb(253, 58, 58);
}
